// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.8a9a261c.woff2)
      format("woff2"),
    url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.c38ebd3c.woff) format("woff");
}

body {
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: #0c3866;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px transparent;
}

h1 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1.12;
  letter-spacing: -0.04em;
}

.title-form .title {
  color: #0c3866;
  font-size: 22px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.dog-form {
  margin-bottom: 50px;
}

.dog-form .form-container {
  background-color: #f4f4f4;
  padding: 30px;
}

.save-dog {
  border-radius: 30px;
}

.toolbar-content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.layout-padding {
  padding-top: 5px;
  padding-bottom: 0;
}

.background-page {
  background-image: url("/companies.png");
  background-size: cover;
  background-position: 50%;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-blue {
  background-color: #007cc0 !important;
}

.text-center {
  text-align: center;
}

.example-row .row > div {
  padding: 10px 15px;
  background: rgba(153, 153, 153, 0.15);
  border: 1px solid rgba(153, 153, 153, 0.2);
}

.example-row .row + .row {
  margin-top: 1rem;
}

.block-fields {
  padding: 30px;
}

.element.style {
  padding-top: 15px;
}

.column,
.flex,
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.relative-position {
  position: relative;
}

.scroll,
.scroll-x,
.scroll-y {
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.q-btn-fab-mini .q-icon,
.q-btn-fab .q-icon {
  font-size: 24px;
}
.q-btn .q-btn-inner {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.q-btn .q-icon,
.q-btn .q-spinner {
  font-size: 1.4em;
}
.q-pb-lg,
.q-py-lg {
  padding-bottom: 24px;
}

img {
  border-style: none;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin: 0 0 16px;
}

.column,
.flex,
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-primary {
  color: #0c3866 !important;
  color: var(--q-color-primary) !important;
}

.fa-users:before {
  content: "\F0C0";
}

input.q-input-target {
  width: 100% !important;
  height: 24px;
  outline: 0;
  display: inline-block;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .layout-padding {
    padding: 2.5rem 3rem;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .layout-padding {
    padding: 1.5rem 2rem;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .layout-padding {
    padding: 3rem 4rem;
    margin: auto;
  }
}
